extends layout

block content
  h1=title
  p Welcome to #{title}
  
  div(
      class='fb-send-to-messenger',
      page_id='265767433564524',
      messenger_app_id='361866390932124',
      data-ref="123456789"
      color='blue',
      size='xlarge'
  )