extends layout

block content
  h1=title
  p Welcome to #{title}
  
  div(
      class='fb-send-to-messenger',
      page_id=page_id,
      messenger_app_id=messenger_app_id
      data-ref=ref
      color='blue',
      size='xlarge'
  )